{% extends 'base.html' %}

{% block title %}
Pitchfinder - Map
{% endblock title %}

{% block content %}
<div id="map" style="height: 400px;"></div>
<button onclick="updateLocation()">Update Location</button>

<script>
    // Sets default location values if a location value is not set, in this case it is set for Dublin
    var initialLat = {{ location.y|default:53.45 }};  
    var initialLng = {{ location.x|default:-6.15 }};  

    console.log('Initial Latitude:', initialLat, 'Initial Longitude:', initialLng);

    // Map is made centred and either the updated location or default values
    var map = L.map('map').setView([initialLat, initialLng], 9);

    // OpenStreetMap is used for the tile layer
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    
    // Red Icon will be used for pitch markers
    var redIcon = new L.Icon({
        iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-red.png',
        shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/images/marker-shadow.png',
        iconSize: [25, 41],          
        iconAnchor: [12, 41],        
        popupAnchor: [1, -34],       
        shadowSize: [41, 41]          
    });

    // Blue icon will be used for location updater
    var blueIcon = new L.Icon({
        iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-blue.png',
        shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/images/marker-shadow.png',
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        shadowSize: [41, 41]
    });
    

    // Marker is used if live location is available
    {% if location %}
        userMarker = L.marker([{{ location.y }}, {{ location.x }}], { icon: blueIcon })  // Using blueIcon initially
            .addTo(map)
            .bindPopup('<b>{{ user.username }}</b><br />')
            .openPopup();
    {% endif %}

  
    // Array is set up for values needed for pitch markers
    var pitchMarkers = [
        {
            lat: 53.3385, 
            lng: -6.2654, 
            popup: "<b>Digges Street</b><br />Football pitch"
        },
        {
            lat: 53.3776, 
            lng: -6.2517, 
            popup: "<b>Whitehall Stadium</b><br />Football pitch"
        },
        {
            lat: 53.3249, 
            lng: -6.2346, 
            popup: "<b>Herbert Park</b><br />Football pitch"
        },
        {
            lat: 53.3191, 
            lng: -6.2297, 
            popup: "<b>Donnybrook</b><br />Rugby pitch"
        },
        {
            lat: 53.3728, 
            lng: -6.2043, 
            popup: "<b>St. Vincent's GAA Club</b><br />GAA pitch"
        },
        {
            lat: 53.5224, 
            lng: -6.0939, 
            popup: "<b>St. Maur's GAA Club</b><br />GAA pitch"
        },
        
    ];


    // Gives pitch markers the red icon
    pitchMarkers.forEach(function(marker) {
        L.marker([marker.lat, marker.lng], { icon: redIcon }).addTo(map)
            .bindPopup(marker.popup);
    });
    

    // This marker variable will be used for the live location
    var userMarker;
    // A circle will be defined for the live location
    var circle;

    // This changes the map to update it with the new live location, first removing the marker and circle of older location
    function updateMap(latitude, longitude, accuracy) {
        if (userMarker) {
            map.removeLayer(userMarker);  
        }
        if (circle) {
            map.removeLayer(circle);  
        }

        // New marker is added with blue icon
        userMarker = L.marker([latitude, longitude], { icon: blueIcon })  // Using blueIcon for user location
            .addTo(map)
            .bindPopup('Your Location')
            .openPopup();

        circle = L.circle([latitude, longitude], { radius: accuracy }).addTo(map);

        // This recentres the map view
        map.setView([latitude, longitude], 9);
    }

    // This attempts to use geolocation to find the location of the user and update the map
    function updateLocation() {
        // Gives an error if the browsper is not supported
        if (!navigator.geolocation) {
            alert('Geolocation is not supported by your browser.');
            return;
        }
        // Defines variables needed
        navigator.geolocation.getCurrentPosition(
            function(position) {
                var latitude = position.coords.latitude;
                var accuracy = position.coords.accuracy;
                var longitude = position.coords.longitude;
               

                // Updates the map accordingly
                updateMap(latitude, longitude, accuracy);

                // The django view set up will recieve the data collected
                fetch('{% url "update_location" %}', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                        'X-CSRFToken': '{{ csrf_token }}'  
                    },
                    body: 'latitude=' + latitude + '&longitude=' + longitude
                })
                // Console logs set up in case of success and errors
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        console.log('Location updated!');
                    } else {
                        console.error('Could not update location');
                    }
                });
            },
            function(error) {
                console.error('Errors with getting the location:', error);
            }
        );
    }
</script>
{% endblock content %}
